/node_modules/
*/node_modules/

notes.md
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/node_modules/

dist/
build/
.vite/


.vite/
.vitepress/cache/


*.vite.d.ts
*.tsbuildinfo

.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

.cache/
*.temp
*.bak
*.tmp
*.swp
*.swo
*.DS_Store


.vscode/

Thumbs.db
.DS_Store

/*.log
/public/uploads/
uploads/

*.tmp
*.bak
*.old

.DS_Store

Thumbs.db
ehthumbs.db
